.navbar_nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding: 5px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.navbar_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_p {
    font-size: 1.3rem;
    color: #000;
}
@media screen and (max-width: 500px) {
    .text_p {
        display: none;
    }
    .navbar_section {
        justify-content: center;
    }
}
